.tab-bar {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 16px;
    padding-bottom: 12px;
    font-family: $font-medium;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom-color 0.2s;
    cursor: pointer;

    @include font(16, 24);

    &--active {
      color: $red;
      border-bottom-color: $red;
      cursor: default;
    }
  }
}
