.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 4px 16px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;

  @include font(14, 20);

  &:disabled {
    cursor: default;

    .button {
      &__loader {
        display: none;
      }
    }
  }

  &__loader {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 2px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate 0.6s infinite linear;
  }

  &__inner {
    display: flex;
    align-items: center;

    &--hidden {
      opacity: 0;
    }
  }

  &__text {
    max-width: 100%;
    max-height: 100%;
  }

  &__icon {
    display: inline-flex;
    fill: currentColor;

    svg {
      fill: currentColor;
    }

    &--left {
      margin-right: 12px;
    }

    &--right {
      margin-left: 12px;
    }
  }

  &--large {
    height: 44px;
    padding: 8px 16px;
  }

  &--transparent {
    background-color: transparent;
  }

  &--red {
    color: $pure-white;
    background-color: $red;

    &:disabled {
      color: $pure-white;
      background-color: $asphalt-gray;
    }

    &:not(:disabled) {
      @include hover {
        background: $dark-red;
      }
    }

    &:focus {
      background-color: $dark-red;
    }
  }

  &--white {
    color: $deep-blue;
    background-color: $pure-white;
    border: 1px solid $deep-blue;

    &:disabled {
      color: $dark-gray;
      border-color: $light-gray;
    }

    &:not(:disabled) {
      @include hover {
        color: $pure-white;
        background-color: $deep-blue;
      }
    }
  }

  &--blue {
    color: $pure-white;
    background-color: $normal-blueberry;

    &:disabled {
      color: $pure-white;
      background-color: $asphalt-gray;
    }

    &:not(:disabled) {
      @include hover {
        background-color: $dark-blueberry;
      }
    }
  }

  &--icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border: none;

    .button {
      &__text {
        display: flex;
      }

      &__icon {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &.button--large {
      width: 44px;
      height: 44px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
