.table {
  position: relative;
  padding-top: 20px;
  overflow: hidden;

  &__scroll {
    padding-top: 12px;
  }

  &__scrollbar {
    max-width: 100%;
    margin-left: 56px;
  }

  &__numbering {
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 20;
    width: auto;
    height: calc(100% - 74px);
    background-color: $pure-white;
  }

  &__divider {
    position: absolute;
    top: 12px;
    z-index: 21;
    width: 8px;
    transform: translateX(-50%);
    cursor: col-resize;
  }

  &__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 12px 20px rgba(0, 0, 0, 0.14);
  }
}

.numbering {
  min-width: 56px;
  border-right: 1px solid $link-water;

  &__header {
    min-width: 56px;
    height: 56px;
    padding: 18px 18px 18px 12px;
    color: $dark-gray;
  }

  &__item {
    height: 56px;
    padding: 18px;
    color: $dark-gray;

    @include font(14, 20);

    &:nth-child(odd) {
      background-color: rgba($link-water, 0.4);
    }

    &:nth-child(even) {
      background-color: $pure-white;
    }
  }
}
