.tooltip {
  z-index: 2000;
  display: block !important;
  max-width: 288px;

  @media #{$md-and-up} {
    max-width: 200px;
  }

  &[x-placement^='top'] {
    padding-bottom: 5px;

    .tooltip__arrow {
      bottom: 0;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
      border-width: 5px 5px 0;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &[x-placement^='bottom'] {
    padding-top: 5px;

    .tooltip__arrow {
      top: 0;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
      border-width: 0 5px 5px;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
    }
  }

  &[x-placement^='right'] {
    padding-left: 5px;

    .tooltip__arrow {
      top: calc(50% - 5px);
      left: 0;
      margin-right: 0;
      margin-left: 0;
      border-width: 5px 5px 5px 0;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &[x-placement^='left'] {
    padding-right: 5px;

    .tooltip__arrow {
      top: calc(50% - 5px);
      right: 0;
      margin-right: 0;
      margin-left: 0;
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &[x-placement^='center'] {
    position: fixed !important;
    top: calc(50vh - 35px) !important;
    left: 50vw !important;
    width: 288px;
    max-height: calc(100vh - 140px);
    overflow: hidden;
    transform: translate(-50%, -50%) !important;

    .tooltip__arrow {
      display: none;
    }

    .tooltip__inner {
      overflow-y: auto;
    }
  }

  &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.15s;
  }

  &__wrapper {
    background: $pure-white;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  &__inner {
    position: relative;
    padding: 16px 12px 12px;
    color: $deep-blue;

    @include font(14, 20);
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    margin: 5px;
    border-style: solid;
    border-color: $pure-white;
  }

  &__content {
    padding-right: 12px;
  }

  &__btn-close {
    position: absolute;
    top: 4px;
    right: 6px;
    width: 16px;
    height: 16px;
    padding: 4px;
    color: $border-gray;
    background-color: transparent;
    border: none;
    transition: color .2s;

    &:focus {
      outline: none;
    }
    @include hover() {
      color: $red;
    }
  }

  &__btn-icon {
    width: 12px;
    height: 12px;
    fill: currentColor;
  }
}
