.table-row {
  display: flex;
  width: 100%;
  height: 56px;

  &:nth-child(even) {
    .table-row-column {
      background-color: #f3f5f7;
    }
  }

  &:nth-child(odd) {
    .table-row-column {
      background-color: $pure-white;
    }
  }

  &:last-child {
    .edit-mode {
      .table-row-column__shadow {
        opacity: 1;
      }
    }
  }

  &__cell {
    flex-shrink: 0;
    height: 100%;
  }
}

.table-row-column {
  &__shadow {
    position: absolute;
    bottom: 0;
    left: -1px;
    width: calc(100% + 1px);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 12px 20px rgba(0, 0, 0, 0.14);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
  }
  &__input {
    width: 100%;
  }

  &.edit-mode {
    .table-row-column {
      &__shadow {
        z-index: 1;
      }

      &__content {
        z-index: 2;
      }
    }
  }
}
