.radio-button-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;

  &__item {
    margin: 0 16px 16px 0;
  }
}

.radio-button {
  position: relative;
  display: block;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  &__place {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    border: 1px solid $border-gray;
    border-radius: 50%;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border: 2px solid $red;
      border-radius: 50%;
      content: '';
      transform: translate(-50%, -50%) scale(0);
      transition: transfrom 0.2s, width 0.1s, height 0.1s;
    }
  }

  &__text {
    @include font(14, 20);
  }

  input[type='radio'] {
    @include visually-hidden;
  }

  input[type='radio']:focus ~ .radio-button__wrapper{
    .radio-button__place {
      &::after {
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(1);
      }
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        border: 2px solid $grey-chateau;
        border-radius: 50%;
        content: '';
        transform: translate(-50%, -50%);
      }
    }
  }

  input[type='radio']:checked {
    ~ .radio-button__wrapper {
      // hover при checked
      @include hover {
        .radio-button__place {
          &::after {
            border-color: $dark-red;
          }
        }
      }

      .radio-button__place {
        &::after {
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  input[type='radio']:not(:checked) {
    & ~ .radio-button__wrapper {
      &:active {
        .radio-button__place {
          border-color: $dark-gray;
        }
      }
      // hover при not-checked
      &:not(:active) {
        @include hover {
          .radio-button__place {
            border-color: $dark-gray;
          }
        }
      }
    }
  }

  // checked disabled
  input[type='radio']:checked:disabled {
    & ~ .radio-button__wrapper {
      color: $dark-gray;
      pointer-events: none;
      cursor: default;

      .radio-button__place {
        &::after {
          width: 100%;
          height: 100%;
          border-color: $dark-gray;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  // not-checked disabled
  input[type='radio']:not(:checked):disabled {
    & ~ .radio-button__wrapper {
      color: $dark-gray;
      pointer-events: none;
      cursor: default;

      .radio-button__place {
        &::after {
          width: 0;
          height: 0;
          transform: translate(-50%, -50%) scale(0);
        }
      }
    }
  }
}
