.file-uploader {
  &__dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 4px 16px;
    font-size: 14px;
    line-height: 20px;
    border: 2px dashed $border-gray;
    border-radius: 4px;
    transition: border-color 0.2s;
    cursor: pointer;
    user-select: none;

    &:not(.file-uploader__dropzone--disabled) {
      @include hover {
        border-color: $deep-blue;

        .file-uploader__text--blue {
          color: $dark-blueberry;
        }
      }

      &:active {
        border-color: $deep-blue;
      }
    }

    &--disabled {
      border-color: $border-gray;
      cursor: default;

      .file-uploader__text {
        color: $border-gray;
      }
    }

    &--drag-state {
      background-color: $border-gray;
    }
  }

  &__text {
    transition: color 0.2s;

    @include font(14, 20);

    &--blue {
      color: $normal-blueberry;
    }
  }

  &__tips {
    margin-top: 10px;
    color: $dark-gray;

    @include font(12, 16);
  }

  &__files {
    width: 400px;
    margin-top: 40px;
  }

  &__file-template {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
