.checkbox {
  margin-bottom: 20px;
  font-family: $font-regular;

  @include font(14, 20);

  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__place {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 12px;
    color: $pure-white;
    background: $pure-white;
    border: 2px solid $border-gray;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 2px solid $grey-chateau;
      content: '';
      opacity: 0;
      transform: translate(-50%, -50%);
      border-radius: inherit;
    }
  }

  &__place-icon {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s, transform 0.2s;

    &::after,
    &::before {
      position: absolute;
      display: block;
      background: $pure-white;
      border-radius: 65px;
      content: '';
    }

    &::before {
      right: 1px;
      bottom: 7px;
      width: 10px;
      height: 2px;
      transform: rotate(-45deg);
    }

    &::after {
      bottom: 5.5px;
      left: 2px;
      width: 6px;
      height: 2px;
      transform: rotate(45deg);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input[type='checkbox'] {
    @include visually-hidden;
  }

  input[type='checkbox']:focus ~ .checkbox__wrapper {
    .checkbox__place {
      &:before {
        opacity: 1;
      }
    }
  }

  &--simple {
    .checkbox {
      &__place {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        &:before {
          width: 28px;
          height: 28px;
        }
      }
    }

    input[type='checkbox']:checked ~ .checkbox__wrapper:active {
      .checkbox__place {
        background: $dark-red;
        border-color: $dark-red;
      }

      .checkbox__place-icon {
        display: block;
      }
    }

    input[type='checkbox']:not(:checked) ~ .checkbox__wrapper:active {
      .checkbox__place {
        color: $dark-gray;
        background: $light-gray;
      }
    }

    // hover при checked
    input[type='checkbox']:checked ~ .checkbox__wrapper {
      @include hover {
        .checkbox__place {
          background: $dark-red;
          border-color: $dark-red;
        }

        .checkbox__place-icon {
          display: block;
        }
      }

      .checkbox__place {
        background: $red;
        border-color: $red;
      }

      .checkbox__place-icon {
        opacity: 1;
        transform: scale(1);
      }
    }

    // hover при not-checked
    input[type='checkbox']:not(:checked) ~ .checkbox__wrapper:not(:active) {
      @include hover {
        .checkbox__place {
          background: $light-gray;
          border-color: $dark-gray;
        }
      }
    }

    // checked disabled
    input[type='checkbox']:checked:disabled ~ .checkbox__wrapper {
      pointer-events: none;
      cursor: default;

      & .checkbox__info {
        color: $dark-gray;
      }

      & .checkbox__place {
        background: $light-gray;
        border-color: $light-gray;
      }

      & .checkbox__place-icon {
        border-color: $dark-gray;
      }
    }

    // not-checked disabled
    input[type='checkbox']:not(:checked):disabled ~ .checkbox__wrapper {
      color: $dark-gray;
      pointer-events: none;
      cursor: default;

      .checkbox__info {
        color: $dark-gray;
        pointer-events: none;
      }

      .checkbox__place {
        opacity: 0;
      }
    }
  }

  &--switch {
    .checkbox {
      &__place {
        width: 44px;
        height: 24px;
        border-radius: 100px;

        &::after {
          position: absolute;
          top: 2px;
          left: 4px;
          width: 16px;
          height: 16px;
          background-color: $border-gray;
          border-radius: 100px;
          content: '';
          transition: all 0.3s ease, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
        }

        &:before {
          width: 52px;
          height: 32px;
        }
      }
    }

    input[type='checkbox']:checked ~ .checkbox__wrapper:active {
      .checkbox__place {
        border-color: $red-light;

        &::after {
          width: 24px;
          margin-left: -8px;
          border-radius: 100px;
        }
      }
    }

    input[type='checkbox']:not(:checked) ~ .checkbox__wrapper:active {
      .checkbox__place {
        background-color: $red-light;
        border-color: $red-light;

        &::after {
          width: 24px;
          background-color: $pure-white;
          border-radius: 100px;
        }
      }
    }

    // hover при checked
    input[type='checkbox']:checked ~ .checkbox__wrapper {
      @include hover {
        .checkbox__place {
          background-color: $red;
          border-color: $red;
        }
      }

      .checkbox__place {
        background-color: $red;
        border-color: $red-light;

        &::after {
          left: 20px;
          background-color: $pure-white;
        }
      }
    }

    // hover при not-checked
    input[type='checkbox']:not(:checked) ~ {
      .checkbox__wrapper:not(:active) {
        @include hover {
          .checkbox__place {
            background: $light-gray;
            border-color: $dark-gray;

            &::after {
              background-color: $dark-gray;
            }
          }
        }
      }
    }

    //checked disabled
    input[type='checkbox']:checked:disabled ~ .checkbox__wrapper {
      pointer-events: none;
      cursor: default;

      .checkbox__place {
        background: $light-gray;
        border-color: $light-gray;

        &::after {
          background: $pure-white;
        }
      }
    }

    // not-checked disabled
    input[type='checkbox']:not(:checked):disabled {
      & ~ .checkbox__wrapper {
        pointer-events: none;
        cursor: default;

        .checkbox__place {
          background: $light-gray;
          border-color: $light-gray;

          &::after {
            background: $pure-white;
          }
        }
      }
    }
  }
}
