.search-bar {
  display: flex;
  align-items: center;
  height: 44px;
  &__field {
    width: 100%;
  }
  &__button {
    flex-shrink: 0;
    width: 72px;
    height: 100%;
    border-radius: 4px;
  }
  &__button-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  &--with-button {
    .search-bar {
      &__button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &__field {
        margin-right: -2px;
        &.form-element {
          .form-element__field {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }
}
