.field {
  &__title {
    display: inline-flex;
    margin-bottom: 8px;
    color: $deep-blue;

    @include font(16, 22);
  }

  &__errors {
    color: $orange-yellow;
  }

  &__tips {
    color: $deep-blue;
  }

  &__errors,
  &__tips {
    margin-top: 8px;

    @include font(12, 16);
  }

  &--disabled {
    background-color: $white-smoke;
    border-color: $border-gray;

    .field {
      &__title {
        color: $grey-chateau;
      }
    }
  }

  &--required {
    .field {
      &__title {
        &::after {
          padding-left: 4px;
          color: currentColor;
          content: '*';
        }
      }
    }
  }

  &--has-error {
    .field {
      &__title {
        color: $red;
      }
    }
  }
}
