.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header {
    margin-bottom: 32px;
  }

  &__scroll-container {
    flex-grow: 1;
    padding-right: 12px;
  }

  &__footer {
    padding-top: 32px;
  }
}
