.ps {
  position: relative;
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  -ms-touch-action: auto;
  touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  /* please don't change 'position' */
  position: absolute;

  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0;
  height: 15px;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  cursor: pointer;

  &:hover {
    .ps__thumb-x {
      background-color: $deep-blue;
    }
  }
}

.ps__rail-y {
  /* please don't change 'position' */
  position: absolute;

  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  width: 10px;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  cursor: pointer;

  &:hover {
    .ps__thumb-y {
      background-color: $deep-blue;
    }
  }
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  /* please don't change 'position' */
  position: absolute;

  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  height: 4px;
  background-color: $grey-chateau;
  border-radius: 6px;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
}

.ps__thumb-y {
  /* please don't change 'position' */
  position: absolute;

  /* there must be 'right' for ps__thumb-y */
  right: calc(50% - 2px);
  width: 4px;
  background-color: $grey-chateau;
  border-radius: 8px;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
