.navigator {
  &__item {
    min-height: 24px;
    margin-bottom: 29px;
    transition: border-color 0.3s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    height: 100%;
    padding-left: 40px;
    font-size: 16px;
    color: $grey-chateau;
    text-decoration: none;
    transition: all 0.3s;

    &.router-link-exact-active {
      color: $red-light;
      border-left: 3px solid $red;
    }
  }
}
