$root-size: 16;

@mixin font($font-size, $line-height) {
  font-size: ($font-size/$root-size) + rem;
  line-height: ($line-height/$root-size) + rem;
}

@mixin visually-hidden {
  /* Удаляем элемент из потока документа */
  position: absolute;

  /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
  width: 1px;
  height: 1px;

  /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
  padding: 0;

  /* Временное решение для неверно произносимого, размазанного текста */
  white-space: nowrap;

  /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
  border: 0;

  /* Скрываем вылезающий за границы контент */
  overflow: hidden;

  /* Вырезаем ту часть контента, которая должна отображаться. */

  /* Устаревшее свойство clip для старых браузеров */
  clip: rect(0 0 0 0);

  /* clip-path для новых браузеров. inset(50%) определяет область вставки, которая позволит контенту исчезнуть.  */
  clip-path: inset(50%);
}

// позволяет задавать ховер для устройств без тач-событий
@mixin hover {
  @media (hover) {
    &:hover {
      @content;
    }
  }
}
