$font-regular: 'Cairo-Regular', Arial, Helvetica, sans-serif;
$font-medium: 'Cairo-SemiBold', Arial, Helvetica, sans-serif;
$font-bold: 'Cairo-Bold', Arial, Helvetica, sans-serif;
$font-black: 'Cairo-Black', Arial, Helvetica, sans-serif;
