$pure-white: #ffffff;
$white-smoke: #f2f3f7;
$grey-chateau: #9198a0;
$light-gray: #e1e2e6;
$pale-gray: #0794e5;
$cosmic-gray: #3e3c3d;
$deep-gray: #c9c6d2;
$grey-heather: #bbc1c7;
$link-water: #e2e5eb;

$pitch-black: #000000;
$deep-blue: #001424;
$midnight-blue: #202d3d;
$light-blue: #007cff;
$dark-blueberry: #0077db;
$normal-blueberry: #0097fd;
$pale-green: #b5d1c3;
$dark-apple: #04aa42;
$light-green: #f2faf5;
$normal-plum: #883888;
$normal-raspberry: #ea1f49;
$soft-pink: #be5e67;
$lightest-cranberry: #f9e7f0;
$darkest-yellow: #f37f19;
$dark-yellow: #fac031;
$bright-yellow: #fbebae;
$normal-yellow: #fbe739;
$red: #e30611;
$dark-red: #c90000;
$red-light: #f51d16;
$border-gray: #e6e8f0;
$asphalt-gray: #c4c4c4;
$dark-blue: #003057;
$dark-gray: #71767e;

$lime-yellow: #dfdf0d;
$orange-yellow: #fcb567;
$normal-pink: #f7a5a9;
$dark-green: #52613e;

$valid-green: rgba(4, 170, 66, 0.05);
