.table-header {
  display: flex;
  height: 56px;

  &__column-title {
    color: $dark-gray;
  }

  &__column-actions {
    display: flex;
  }

  &__show-hidden-columns,
  &__edit-button {
    outline: none;

    &:not(:disabled) {
      @include hover {
        color: $red;
      }
    }
  }

  &__edit-button {
    color: $dark-gray;

    svg {
      width: 24px;
      height: 24px;
      stroke: currentColor;

      path {
        stroke-width: 2px;
      }
    }
  }

  &__show-hidden-columns {
    @include hover() {
      &::after,
      &::before {
        background-color: $red;
      }
    }

    &::after,
    &::before {
      position: absolute;
      top: 18px;
      left: 12px;
      width: 16px;
      height: 2px;
      background-color: #d8d8d8;
      border-radius: 1px;
      content: '';
      transition: background-color 0.2s, opacity 0.2s;
    }

    &::after {
      transform: rotate(90deg);
    }

    &--expand {
      &::after {
        opacity: 0;
      }
    }
  }
}
