.select {
  &:not(.vs--single) {
    .vs__dropdown-toggle {
      height: auto;
    }

    .vs__selected {
      padding: 4px 6px 4px 12px;
      background: $border-gray;
      border: none;
      border-radius: 4px;
      transition: color 0.2s, background-color 0.2s;

      @include font(14, 20);

      @include hover {
        color: $pure-white;
        background-color: $deep-blue;

        .vs__deselect {
          color: $pure-white;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .vs__deselect {
      width: 16px;
      height: 16px;
      padding: 4px;
      color: $grey-chateau;

      svg {
        width: 8px;
        height: 8px;
        fill: currentColor;
      }
    }
  }

  &__loader {
    &.loader {
      right: 38px;
      left: auto;
      width: 20px;
      height: 100%;
    }
  }

  .vs__dropdown-toggle {
    display: flex;
    align-items: center;
    height: 58px;
    padding: 12px 8px 12px 20px;
    background-color: $pure-white;
    border: 2px solid $border-gray;
    border-radius: 8px;
  }

  .vs__selected {
    margin: 0;
    padding: 0;
    opacity: 1;
  }

  .vs__actions {
    padding: 0;
  }

  .vs__no-options {
    padding: 14px 20px;
    text-align: left;
    color: $deep-blue;

    @include font(16, 22);
  }

  .vs__open-indicator {
    height: 24px;
  }

  .open-indicator,
  .vs__clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: $border-gray;
    cursor: pointer;

    @include hover {
      color: $deep-blue;
    }

    svg {
      width: 15px;
      height: 15px;
      fill: currentColor;
    }
  }

  .vs__selected-options {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .vs__search {
    height: 28px;
    margin: 0;
    padding: 0;

    @include font(16, 22);

    &::placeholder {
      color: $dark-gray;

      @include font(16, 22);
    }
  }

  .vs__dropdown-menu {
    z-index: 10;
    padding: 0;
    border: none;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 12px 20px rgba(0, 0, 0, 0.14);
  }

  .vs__dropdown-option {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: $deep-blue;
    white-space: normal;

    @include font(16, 22);

    &--highlight:not(.vs__dropdown-option--selected) {
      color: $deep-blue;
      background: $border-gray;
    }

    &--selected {
      color: $grey-chateau;
      background: transparent;
      cursor: default;
    }

    &--disabled {
      color: $grey-chateau;
      background-color: $white-smoke;
    }
  }

  &.vs--open {
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 12px 20px rgba(0, 0, 0, 0.14);

    .vs__dropdown-toggle {
      position: relative;
      z-index: 11;
      border: 2px solid transparent;
      border-bottom: 2px solid $border-gray;
      border-radius: 8px 8px 0 0;
      box-shadow: none;
    }

    .vs__selected {
      opacity: 1;
    }
  }

  &--chosen-multiple {
    .vs__selected {
      margin: 0 4px 4px 0;
    }

    .vs__selected-options {
      margin-bottom: -4px;
    }

    .vs__dropdown-toggle {
      padding: 13px 8px 13px 20px;
    }

    .vs__search {
      height: 26px;
      align-self: flex-start;
      margin-left: 4px;
    }
  }

  &.vs--disabled {
    .vs__dropdown-toggle {
      background-color: $border-gray;
      border-color: $white-smoke;
    }

    .vs__dropdown-toggle,
    .vs__search,
    .vs__selected {
      cursor: default;
    }

    .vs__search {
      background-color: transparent;
    }

    .vs__open-indicator {
      background-color: transparent;
      pointer-events: none;
    }

    .open-indicator {
      color: $grey-heather;
    }
  }

  &--checkbox-value {
    .vs__dropdown-option--selected {
      color: $deep-blue;
      .select-option {
        &__icon {
          border-color: $red;
          background-color: $red;
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.select-option {
  display: flex;
  align-items: flex-start;
  &__icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 12px;
    border-radius: 4px;
    color: $pure-white;
    background: $pure-white;
    border: 2px solid $border-gray;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    &::after,
    &::before {
      position: absolute;
      display: block;
      background: $pure-white;
      border-radius: 65px;
      content: '';
    }

    &::before {
      right: 0;
      bottom: 5px;
      width: 9px;
      height: 2px;
      transform: rotate(-45deg);
    }

    &::after {
      bottom: 4.5px;
      left: 1px;
      width: 5px;
      height: 2px;
      transform: rotate(45deg);
    }
  }
}

