$-font-path-custom: '~static/fonts';

@font-face {
  font-style: normal;
  font-family: 'Cairo-Regular';
  font-weight: normal;
  font-display: fallback;
  src: url('#{$-font-path-custom}/Cairo/Cairo-Regular.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-family: 'Cairo-SemiBold';
  font-weight: normal;
  font-display: fallback;
  src: url('#{$-font-path-custom}/Cairo/Cairo-SemiBold.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-family: 'Cairo-Bold';
  font-weight: normal;
  font-display: fallback;
  src: url('#{$-font-path-custom}/Cairo/Cairo-Bold.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-family: 'Cairo-Black';
  font-weight: normal;
  font-display: fallback;
  src: url('#{$-font-path-custom}/Cairo/Cairo-Black.ttf') format('truetype');
}
