@import 'node_modules/izitoast/dist/css/iziToast.css';

.iziToast {
  padding: 24px !important;
  background-color: $midnight-blue;
  border-radius: 4px;

  &::after {
    box-shadow: none;
  }

  .iziToast-body {
    min-height: 0;
    margin: 0;
    padding: 0;

    .iziToast-texts {
      margin: 0;
      padding: 0;
    }

    .iziToast-message {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 22px;
      font-family: $font-regular;
      color: $pure-white;
    }
  }
}

.error-toast {
  color: $pure-white;
  background-color: $soft-pink;
}

.pending-toast {
  width: 320px;
  background-color: $darkest-yellow;

  &.iziToast > .iziToast-body .iziToast-message {
    position: relative;
    padding-right: 17px;
  }

  & .loader-wrap {
    top: 14px;
    right: -8px;
    left: auto;
    width: 16px;
    height: 16px;
    background-color: transparent;
  }
}

.rejected-toast {
  width: 420px;
  height: 196px;
  background-color: $normal-raspberry;

  &.iziToast > .iziToast-body .iziToast-title {
    margin-bottom: 12px;
    font-size: 20px;
    color: $pure-white;
  }

  &.iziToast > .iziToast-body .iziToast-message {
    line-height: 22px;
  }

  &.iziToast > .iziToast-body .iziToast-buttons {
    margin-top: 28px;
  }

  &.iziToast > .iziToast-body .iziToast-buttons .button_big {
    width: 103px;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    color: $pure-white;
    background-color: rgba($pure-white, 0.24);
    box-shadow: none;
  }

  &.iziToast > .iziToast-body .iziToast-buttons .button_big-simple {
    width: 107px;
    margin-left: 12px;
    font-size: 16px;
    color: $pure-white;
    background-color: transparent;
    box-shadow: none;
  }
}

.iziToast-capsule {
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), height 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}
