.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media #{$md-and-up} {
    width: 768px;
    padding: 0 32px;
  }

  @media #{$lg-and-up} {
    width: 1024px;
    padding: 0 32px;
  }

  @media #{$xl-and-up} {
    width: 1280px;
    padding: 0 80px;
  }
}

.main {
  height: 100%;
  min-height: calc(100vh - 80px - 80px); //100vh - высота хедера - высота футера
}
