@import 'vendors/reset';
@import 'vendors/normalize';
@import 'fonts';
@import 'sweet-alert';
@import 'izi-toast';
@import 'layout';
@import 'components/page';
@import 'components/form-elements';

html,
body {
  font-size: 16px;
  line-height: 16px;

  * {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

body {
  position: relative;
  font-family: $font-regular;
  color: $deep-blue;
  background: $pure-white;

  &.page-scroll-disabled {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
  }
}

h1,
.content-h1 {
  font-family: $font-bold;

  @include font(20, 24);

  @media #{$md-and-up} {
    @include font(48, 52);
  }
}

h2,
.content-h2 {
  font-family: $font-bold;

  @include font(20, 24);

  @media #{$md-and-up} {
    @include font(32, 40);
  }
}

h3,
.content-h3 {
  font-family: $font-bold;

  @include font(16, 24);

  @media #{$md-and-up} {
    @include font(24, 32);
  }
}

h4,
.content-h4 {
  font-family: $font-regular;

  @include font(16, 24);

  @media #{$md-and-up} {
    @include font(20, 28);
  }
}

.notes-list {
  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-section {
  &__element {
    width: 100%;
    max-width: 468px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    color: currentColor;
  }

  &__row {
    @media #{$md-and-up} {
      display: flex;
    }

    .form-section__element {
      @media #{$md-and-up} {
        width: calc(50% - 12px);
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
