/*
Общие настройки алертов
*/
.swal2-container {
  .swal2-modal {
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
  }

  .swal2-header {
    align-items: flex-start;
    padding: 32px 32px 0;

    .swal2-title {
      margin: 0;
      font-size: 24px;
      line-height: 28px;
      font-family: $font-bold;
      text-align: left;
      color: $pitch-black;
    }
  }

  .swal2-content {
    margin: 0;
    padding: 24px 32px 0;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-regular;
    text-align: left;
    color: $pitch-black;

    p {
      margin: 0;
    }

    .link {
      display: block;
      font-size: 16px;
    }
  }

  .swal2-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    padding: 0;
    color: transparent !important;
    background-image: url('/svg/cross-gray.svg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 14px;

    &:hover,
    &:active {
      background-image: url('/svg/cross-black.svg');
    }
  }

  .swal2-actions {
    margin: 32px 0 0;
    padding: 16px 32px;
    background-color: $grey-chateau;

    .swal2-confirm {
      margin-left: 12px;
    }
  }
}

/*
  Настройка конкретных алертов
*/
.default-alert {
  &.swal2-modal {
    width: 480px;
  }

  .swal2-actions {
    justify-content: flex-end;
  }
}

/*
  Настройка анимации
*/
@keyframes swal2-show {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
