.form-element {
  position: relative;
  display: flex;
  font-family: $font-regular;

  &__field {
    width: 100%;
    height: 100%;
    font-family: inherit;
    color: $deep-blue;
    border: 2px solid $grey-heather;
    border-radius: 4px;
    transition: border-color 0.2s, color 0.2s;
    -webkit-appearance: none;

    @include font(14, 20);

    @include hover {
      border-color: $grey-chateau;
    }

    &:focus {
      border-color: $deep-blue;
      outline: none;

      @include hover {
        border-color: $deep-blue;
      }
    }

    &:disabled {
      color: $light-gray;
      background-color: transparent;
      border-color: $light-gray;
      pointer-events: none;
      cursor: default;
    }

    &::placeholder {
      color: $grey-chateau;
    }
  }

  &__button-clear {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    color: $grey-chateau;
    background-color: transparent;
    border: none;
    transition: color 0.2s;
    cursor: pointer;

    @include hover {
      color: $deep-blue;
    }
  }

  &__clear-icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }

  &--error {
    .form-element {
      &__field {
        border-color: $orange-yellow;
      }
    }
  }

  &--input {
    height: 44px;

    .form-element {
      &__field {
        padding: 8px 40px 8px 12px;
      }

      &__button-clear {
        height: 100%;
      }
    }
  }

  &--textarea {
    height: 84px;

    .form-element {
      &__field {
        padding: 12px 40px 12px 16px;
        resize: none;
      }
    }
  }
}
