.table-column {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 12px;
  background-color: $pure-white;
  border-right: 1px solid $link-water;
  transition: margin-left 0.3s;

  &:first-child {
    border-left: 1px solid $link-water;
  }

  &__content {
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.edit-mode {
    position: relative;
    z-index: 3;
    border-color: transparent;
  }
  &.hidden-expand {
    z-index: 1;
    margin-left: 0 !important;
  }

  &.hidden {
    position: relative;
    z-index: -1;
  }

  &.first-item-expand,
  &.last-item-expand {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: 15px;
      height: 100%;
      content: '';
    }
  }

  &.first-item-expand {
    &::before {
      left: 0;
      box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.25) inset;
    }

    &::after {
      display: none;
    }
  }

  &.last-item-expand {
    &::before {
      display: none;
    }

    &::after {
      right: 0;
      box-shadow: -15px 0 15px -15px rgba(0, 0, 0, 0.25) inset;
    }
  }

  &.last-item-expand.first-item-expand {
    &::before {
      display: block;
    }
    &::after {
      display: block;
    }
  }
}
