.modal {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* stylelint-disable-next-line */
    height: calc(var(--vh, 1%) * 100);
    min-height: auto !important;
    background-color: rgba(0, 0, 0, 0.6);
    outline: none;
    overflow-x: hidden;
  }

  &__overlay-clickable {
    cursor: pointer;
  }

  &__scroll-container {
    max-height: 400px;
  }

  &__container {
    position: relative;
    width: 100%;
    max-height: 100%;
    padding: 24px 16px;
    background-color: $pure-white;
    overflow: auto;
    cursor: default;

    @media #{$md-and-up} {
      padding: 32px 24px;
    }

    &--small {
      width: 300px;
    }

    &--medium {
      width: 700px;
    }

    &--large {
      width: 900px;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    font-size: 40px;
    color: $border-gray;
    background-color: $pure-white;
    border: none;
    overflow: hidden;
    transition: color 0.2s;
    cursor: pointer;

    @include hover {
      color: $deep-blue;
    }

    @media #{$md-and-up} {
      top: 18px;
      right: 10px;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }
  }
}
