.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 3px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotateSpinner 0.6s infinite linear;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($pure-white, 0.7);
  }

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

@keyframes rotateSpinner {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
