.accordion-list-item {
  display: block;
  margin-bottom: 32px;
}

.accordion-item-header {
  display: block;
  color: $deep-blue;
  transition: color 0.2s;

  @include hover {
    color: $red;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    font-family: $font-bold;
    color: currentColor;
    background-color: transparent;
    border: none;

    &:focus {
      color: $dark-red;
      outline: none;
    }
  }

  &__icon {
    display: block;
    margin-left: 12px;
    color: currentColor;

    svg {
      width: 12px;
      height: 12px;
      transition: transform 0.2s;
      fill: currentColor;
    }
  }

  & .-ba-is-active {
    .accordion-item-header {
      &__icon {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.accordion-item-content {
  display: block;
  max-height: 75vh;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height linear 0.2s;

  &.-ba-is-hidden {
    max-height: 0 !important;
  }

  &__panel-inner {
    padding: 16px 0;
  }
}
