.dropdown {
  position: relative;
  color: $deep-blue;

  @include font(14, 20);

  &__button {
    padding: 4px 8px;
    background-color: transparent;
    border: 2px solid $border-gray;
    border-radius: 8px;
    transition: border-color 0.2s, box-shadow 0.2s;

    @include hover {
      border-color: transparent;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    }

    &:focus {
      border-color: transparent;
      outline: none;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
  }

  &__item {
    width: 100%;
    padding: 8px;
    text-align: left;
    background-color: transparent;
    border: none;
    transition: color 0.2s, background-color 0.2s;

    &:not(&--disabled, &--selected) {
      @include hover {
        color: $red;
      }

      &:focus {
        color: $dark-red;
        outline: none;
      }
    }

    &--disabled,
    &--selected {
      cursor: default;
    }

    &--disabled {
      color: $grey-heather;
    }

    &--selected {
      background-color: $white-smoke;
    }
  }
}
