.file-template {
  padding: 8px 12px;
  background-color: $border-gray;
  border-radius: 8px;

  &__row {
    display: flex;
    align-items: center;
  }

  &__size {
    color: $dark-gray;

    @include font(12, 16);
  }

  &__info {
    flex-grow: 1;
  }

  &__name {
    @include font(14, 20);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 12px;
    font-family: $font-bold;
    text-transform: uppercase;
    overflow: hidden;

    @include font(14, 20);
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  &__progress {
    width: 100%;
    height: 16px;
    padding: 6px 0;
  }

  &__error-wrapper {
    display: flex;
    align-items: center;
    color: $red;

    .file-template__size {
      color: inherit;
    }
  }

  &__error {
    margin-left: 12px;

    @include font(12, 16);
  }

  &__button {
    color: $grey-heather;

    &--delete {
      padding: 12px;

      .file-template__button-icon {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__button-icon {
    width: 20px;
    height: 20px;
  }
}

.load-progress {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: rgba(188, 195, 208, 0.5);

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $dark-apple;
    transition: width 0.1s linear;
  }
}
